<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>

<body>
    <style>
        input.ng-invalid.ng-dirty,
        {
            background-color: pink
        }
    </style>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/NewEvent.html">Create Event</a></li>
                </ul>
            </div>
        </div>
        <div ng-controller="EditEventController" style="padding-left: 20px; padding-right: 20px">
            <div class="container">
                <h1>New Event</h1>
                <hr>
                <form name="newEventForm">
                    <fieldset>
                        <label for="eventName">Event Name:</label>
                        <input type="text" ng-model="event.name" required name="eventName" id="eventName" value="" placeholder="Name of your event..">

                        <label for="eventDate">Event Date:</label>
                        <input type="text" ng-model="event.date" required name="eventDate" id="eventDate" value="" placeholder="formar (dd/mm/yyyy)..">

                        <label for="eventTime">Event Time:</label>
                        <input type="text" ng-model="event.time" name="eventTime" id="eventTime" value="" placeholder="Start and end time..">

                        <label for="eventLoc">Event Location:</label>
                        <input type="text" ng-model="event.location.address" name="eventLoc" id="eventLoc" value="" placeholder="Address of your event..">

                        <br>
                        <input type="text" ng-model="event.location.city" name="eventCity" id="eventCity" class="input-small" value="" placeholder="City..">
                        <input type="text" ng-model="event.location.province" name="eventProvince" id="eventProvince" class="input-small" value=""
                            placeholder="Province..">


                            <label for="eventImageUrl">Image:</label>
                            <input type="url" class="input-xlarge" ng-model="event.imageUrl" name="eventImageUrl" id="eventImageUrl" value="" placeholder="Image url..">

                    </fieldset>

                    <img ng-src="{{event.imageUrl}}" alt="">
                    <br>
                    <br>
                    <button type="submit" ng-disabled="newEventForm.$invalid" class="btn btn-primary" ng-click="saveEvent(event, newEventForm)">Save</button>
                    <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/underscore-1.4.4.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-sanitize.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/EventController.js"></script>
    <script src="/js/controllers/EditEventController.js"></script>
    <script src="/js/filters.js"></script>
</body>

</html>